.header {
	position: fixed;
	background-color: #dddadaf0;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	color: #000000;
	width: 100%;
	padding: 10px;
	h2 {
	  margin: 5px;
	  padding: 5px;
	  font-size: 2em;
	  text-align : center;
	}
}
